body {
    background-image: url(https://wallpaper.dog/large/966390.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(251, 251, 251);
    font-weight: 600;
    font-size: 50px;
}

h2 {
    color: rgb(251, 251, 251);
    font-weight: 600;
    font-size: 50px;
}

section {
    border: 1px solid black;
    height: 650px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(76, 33, 218);
    text-align: center; 
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    border-radius: 8px;
}

div {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    
}

.circle:hover {
    background-color: black;
}

#btn {
    color: black;
    background-color: rgb(251, 251, 251);
    border-radius: 25px;
    padding: 8px 16px;
    font-weight: 500;
    margin: 50px 0;
}

