body {
    width: 100%; height: 100%; margin: 0 auto; text-align: center;
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

section {
    border: 1px solid black;
    height: 650px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(140, 0, 255);
    text-align: center; 
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

div{
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.grid-item:hover {
    background-color: orange;
}

#btn {
    color: white;
    background-color: rgb(140, 0, 255);
    border-radius: 25px;
    padding: 8px 16px;
    font-weight: 500;
    margin: 50px 0;
}

