body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpaperset.com/w/full/8/4/0/139325.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

section {
    border: 1px solid black;
    height: 650px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(76, 33, 218);
    text-align: center; 
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    border-radius: 8px;
}

div {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    
}

.circle:hover {
    background-color: black;
}

#btn {
    color: white;
    background-color: rgb(140, 0, 255);
    border-radius: 25px;
    padding: 8px 16px;
    font-weight: 500;
    margin: 50px 0;
}

